__pycache__/
/__pycache__/
get_historical_data/.env
.ipynb
.ipynb_checkpoints
visualization.py
src
airflow_get_data/data
airflow_get_data/logs
airflow_get_data/sp500
webpage/.env
webpage/__pycache__/app.cpython-311.pyc
webpage/__pycache__/*.pyc