<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S&P500 Stocks Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>S&P500 Stocks Analysis</h1>
    <div>
        <label for="stock-search">Choose stock:</label>
        <input type="text" id="stock-search" placeholder="Search bar">
        <select id="stock-list">
            {% for stock in stocks %}
                <option value="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select>

        <button id="analyze-btn">Perform analysis</button>
    </div>
    <div>
        <label for="stock-search-compare">Choose second stock for comparison</label>
        <input type="text" id="stock-search-compare" placeholder="Search bar">
        <select id="stock-list-compare">
            {% for stock in stocks %}
                <option value="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select>

        <button id="compare-btn">Compare stocks</button>
    </div>
    <div class="stock-data-container">
        <div id="analysis" class="stock-data">
            <h2>First stock analysis</h2>
            <div id="name" style="font-size: 35px; margin-bottom: 5px"></div>
            <div id="last-value" style="font-size: 20px; margin-bottom: 10px"></div>
            <div id="pct-change" style="font-size: 20px; margin-bottom: 10px;"></div>
        </div>
        <div id="comparison-analysis" class="stock-data">
            <h2>Second stock analysis</h2>
            <div id="comparison-name" style="font-size: 35px; margin-bottom: 5px"></div>
            <div id="comparison-last-value" style="font-size: 20px; margin-bottom: 10px"></div>
            <div id="comparison-pct-change" style="font-size: 20px; margin-bottom: 10px;"></div>
        </div>
    </div>

    <div id="chart"></div>

    <div id="time-buttons" style="margin-top: 20px;">
            <button class="time-range-btn" data-range="3months">3 Months</button>
            <button class="time-range-btn" data-range="6months">6 Months</button>
            <button class="time-range-btn" data-range="thisyear">This year</button>
            <button class="time-range-btn" data-range="1year">1 Year</button>
            <button class="time-range-btn" data-range="3year">3 Years</button>
            <button class="time-range-btn" data-range="5year">5 Years</button>
            <button class="time-range-btn" data-range="all">All time</button>
        </div>

    <div id="last-update" style="margin-top: 20px;">
        Last update: {{ last_update }}
    </div>
    <script>
        $(document).ready(function(){
            var isComparing = false;

            function toggleVisibility(isVisible) {
                if (isVisible) {
                    $('#chart, #analysis, #time-buttons, #last-update').show();
                } else {
                    $('#chart, #analysis, #comparison-analysis, #time-buttons, #last-update').hide();
                }
            }

            toggleVisibility(false);

            $('#stock-search').on('input', function(){
                var inputValue = $(this).val().toLowerCase();
                var firstVisibleOption = null;
                $('#stock-list option').each(function(){
                    var optionText = $(this).text().toLowerCase();
                    if (optionText.startsWith(inputValue)) {
                        $(this).show();
                        if (!firstVisibleOption) {
                            firstVisibleOption = $(this);
                        }
                    } else {
                        $(this).hide();
                    }
                });

                if (firstVisibleOption) {
                    $('#stock-list').val(firstVisibleOption.val());
                }
            });

            $('#stock-search-compare').on('input', function(){
                var inputValueCompare = $(this).val().toLowerCase();
                var firstVisibleOptionCompare = null;
                $('#stock-list-compare option').each(function(){
                    var optionText = $(this).text().toLowerCase();
                    if (optionText.startsWith(inputValueCompare)) {
                        $(this).show();
                        if (!firstVisibleOptionCompare) {
                            firstVisibleOptionCompare = $(this);
                        }
                    } else {
                        $(this).hide();
                    }
                });

                if (firstVisibleOptionCompare) {
                    $('#stock-list-compare').val(firstVisibleOptionCompare.val());
                }
            });

             $('#analyze-btn').click(function(){
                var ticker = $('#stock-list').val();
                var range = 'all';
                if (ticker) {
                    fetchStockData(ticker, range);
                    toggleVisibility(true);
                    isComparing = false;
                } else {
                    alert("Please select a stock to analyze.");
                }
            });
            $('#compare-btn').click(function(){
                var firstTicker = $('#stock-list').val();
                var secondTicker = $('#stock-list-compare').val();
                var range = 'all';

                if (firstTicker && secondTicker) {
                    fetchComparisonData(firstTicker, secondTicker, range);
                    toggleVisibility(true);
                    $('#comparison-analysis').show();
                    isComparing = true;
                } else {
                    alert("Please select both stocks for comparison.");
                }
            });

            $('.time-range-btn').click(function(){
                var range = $(this).data('range');
                var firstTicker = $('#stock-list').val();
                if (isComparing) {
                    var secondTicker = $('#stock-list-compare').val();
                    fetchComparisonData(firstTicker, secondTicker, range);
                } else {
                    fetchStockData(firstTicker, range);
                }
            });

            function fetchStockData(ticker, range) {
                $.post('/get_stock_data', { ticker: ticker, range: range }, function(data){
                    if (data.error) {
                        alert(data.error);
                    } else {
                        var graphDiv = document.getElementById('chart');
                        Plotly.newPlot(graphDiv, JSON.parse(data.graph).data, JSON.parse(data.graph).layout);

                        var name = data.name;
                        var nameDiv = document.getElementById('name');
                        nameDiv.innerHTML = `Stock name: ${name}`;

                        var pctChange = data.pct_change.toFixed(2);
                        var pctChangeDiv = document.getElementById('pct-change');

                        var lastChange = data.last_change.toFixed(2);

                        var lastValue = data.last_value.toFixed(2);
                        var lastValueDiv = document.getElementById('last-value');
                        lastValueDiv.innerHTML = `Value: ${lastValue}`;

                        var rangeText = getRangeText(range);

                        if (pctChange >= 0) {
                            pctChangeDiv.innerHTML = `${rangeText}: +${lastChange} <span style="color:green;">(+${pctChange}%)</span>`;
                        } else {
                            pctChangeDiv.innerHTML = `${rangeText}: ${lastChange} <span style="color:red;">(${pctChange}%)</span>`;
                        }
                    }
                });
            }


            function getRangeText(range) {
                switch(range) {
                    case '3months':
                        return 'Last 3 Months';
                    case '6months':
                        return 'Last 6 Months';
                    case 'thisyear':
                        return 'This Year';
                    case '1year':
                        return 'Last Year';
                    case '3year':
                        return 'Last 3 Years';
                    case '5year':
                        return 'Last 5 Years';
                    default:
                        return 'All time';
                }
            }


            function fetchComparisonData(firstTicker, secondTicker, range) {
                $.post('/compare_stocks', { first_ticker: firstTicker, second_ticker: secondTicker, range: range }, function(data){
                    if (data.error) {
                        alert(data.error);
                    } else {
                        var rangeText = getRangeText(range);
                        // Graph
                        var graphDiv = document.getElementById('chart');
                        Plotly.newPlot(graphDiv, JSON.parse(data.graph).data, JSON.parse(data.graph).layout);

                        // First Stock Data
                        $('#name').html(`Stock name: ${data.first_stock.name}`);

                        var pctChangeValue1 = parseFloat(data.first_stock.pct_change).toFixed(2);

                        var lastChange1 = data.first_stock.last_change.toFixed(2);

                        var lastValue1 = data.first_stock.last_value.toFixed(2);
                        $('#last-value').html(`Value: ${lastValue1}`);

                        if (pctChangeValue1 >= 0) {
                            $('#pct-change').html(`${rangeText}: +${lastChange1} <span style="color:green;">(+${pctChangeValue1}%)</span>`);
                        } else {
                            $('#pct-change').html(`${rangeText}: ${lastChange1} <span style="color:red;">(${pctChangeValue1}%)</span>`);
                        }
                        // Second Stock Data
                        $('#comparison-name').html(`Stock name: ${data.second_stock.name}`);

                        var pctChangeValue2 = parseFloat(data.second_stock.pct_change).toFixed(2);

                        var lastChange2 = data.second_stock.last_change.toFixed(2);

                        var lastValue2 = data.second_stock.last_value.toFixed(2);
                        $('#comparison-last-value').html(`Value: ${lastValue2}`);

                        if (pctChangeValue2 >= 0) {
                            $('#comparison-pct-change').html(`${rangeText}: +${lastChange2} <span style="color:green;">(+${pctChangeValue2}%)</span>`);
                        } else {
                            $('#comparison-pct-change').html(`${rangeText}: ${lastChange2} <span style="color:red;">(${pctChangeValue2}%)</span>`);
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>