<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S&P500 Stocks Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>S&P500 Stocks Analysis</h1>
    <label for="stock-search">Choose stock:</label>
    <input type="text" id="stock-search" placeholder="Search bar">
    <select id="stock-list">
        {% for stock in stocks %}
            <option value="{{ stock }}">{{ stock }}</option>
        {% endfor %}
    </select>

    <button id="analyze-btn">Perform analysis</button>

    <label for="stock-search-compare">Choose second stock for comparison</label>
    <input type="text" id="stock-search-compare" placeholder="Search bar">
    <select id="stock-list-compare">
        {% for stock in stocks %}
            <option value="{{ stock }}">{{ stock }}</option>
        {% endfor %}
    </select>

    <button id="compare-btn" style="display: none;">Compare stocks</button>

    <div id="analysis">
        <h2>Weekly Analysis</h2>
        <div id="name" style="font-size: 35px; margin-bottom: 5px"></div>
        <div id="pct-change" style="font-size: 20px; margin-bottom: 10px;"></div>
        <div id="chart"></div>

        <div id="time-buttons" style="margin-top: 20px;">
            <button class="time-range-btn" data-range="3months">3 Months</button>
            <button class="time-range-btn" data-range="6months">6 Months</button>
            <button class="time-range-btn" data-range="thisyear">This year</button>
            <button class="time-range-btn" data-range="1year">1 Year</button>
            <button class="time-range-btn" data-range="3year">3 Years</button>
            <button class="time-range-btn" data-range="5year">5 Years</button>
            <button class="time-range-btn" data-range="all">All time</button>
        </div>
    </div>
    <div id="last-update" style="margin-top: 20px;">
        Last update: {{ last_update }}
    </div>
    <script>
        $(document).ready(function(){
            var isComparing = false;

            $('#stock-search').on('input', function(){
                var inputValue = $(this).val().toLowerCase();
                var firstVisibleOption = null;
                $('#stock-list option').each(function(){
                    var optionText = $(this).text().toLowerCase();
                    if (optionText.startsWith(inputValue)) {
                        $(this).show();
                        if (!firstVisibleOption) {
                            firstVisibleOption = $(this);
                        }
                    } else {
                        $(this).hide();
                    }
                });

                if (firstVisibleOption) {
                    $('#stock-list').val(firstVisibleOption.val());
                }
            });

            $('#stock-search-compare').on('input', function(){
                var inputValueCompare = $(this).val().toLowerCase();
                var firstVisibleOptionCompare = null;
                $('#stock-list-compare option').each(function(){
                    var optionText = $(this).text().toLowerCase();
                    if (optionText.startsWith(inputValueCompare)) {
                        $(this).show();
                        if (!firstVisibleOptionCompare) {
                            firstVisibleOptionCompare = $(this);
                        }
                    } else {
                        $(this).hide();
                    }
                });

                if (firstVisibleOptionCompare) {
                    $('#stock-list-compare').val(firstVisibleOptionCompare.val());
                }
            });

             $('#analyze-btn').click(function(){
                var ticker = $('#stock-list').val();
                var range = 'all';

                fetchStockData(ticker, range);

                $('#time-buttons').show();
                $('#last-update').show();
                $('#compare-btn').show();

                isComparing = false;
            });
            $('#compare-btn').click(function(){
                var firstTicker = $('#stock-list').val();
                var secondTicker = $('#stock-list-compare').val();
                var range = 'all';

                if (secondTicker) {
                    fetchComparisonData(firstTicker, secondTicker, range);
                    isComparing = true;
                } else {
                    alert("Please select a second stock for comparison.");
                }
            });

            $('.time-range-btn').click(function(){
                var range = $(this).data('range');
                var firstTicker = $('#stock-list').val();
                if (isComparing) {
                    var secondTicker = $('#stock-list-compare').val();
                    fetchComparisonData(firstTicker, secondTicker, range);
                } else {
                    fetchStockData(ticker, range);
                }
            });

            function fetchStockData(ticker, range) {
                $.post('/get_stock_data', { ticker: ticker, range: range }, function(data){
                    if (data.error) {
                        alert(data.error);
                    } else {
                        var graphDiv = document.getElementById('chart');
                        Plotly.newPlot(graphDiv, JSON.parse(data.graph).data, JSON.parse(data.graph).layout);

                        var name = data.name;
                        var nameDiv = document.getElementById('name');
                        nameDiv.innerHTML = `Stock name: ${name}`;

                        var pctChange = data.pct_change.toFixed(2);
                        var pctChangeDiv = document.getElementById('pct-change');

                        if (pctChange >= 0) {
                            pctChangeDiv.innerHTML = `Last week: <span style="color:green;">+${pctChange}%</span>`;
                        } else {
                            pctChangeDiv.innerHTML = `Last week: <span style="color:red;">${pctChange}%</span>`;
                        }
                    }
                });
            }

            function fetchComparisonData(firstTicker, secondTicker, range) {
                $.post('/compare_stocks', { first_ticker: firstTicker, second_ticker: secondTicker, range: range }, function(data){
                    if (data.error) {
                        alert(data.error);
                    } else {
                        var graphDiv = document.getElementById('chart');
                        Plotly.newPlot(graphDiv, JSON.parse(data.graph).data, JSON.parse(data.graph).layout);
                    }
                });
            }
        });
    </script>
</body>
</html>